/*.carousel-item {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/

form {
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}

div.carousel-inner {
    padding: 50px 100px;
}

nav {
    padding: 10px;
}

/*img {*/
/*    height: 100px;*/
/*}*/

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}
